<!-- <input type="file" (change)="fileChangeEvent($event)" /> -->

<input type="text" [(ngModel)]="imgUrl" style="width: 100%;">
<app-image-uploader (imageChanged)="fileChangeEvent($event)"></app-image-uploader>
<div style="width: 500px;">
  <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [imageURL]="imgUrl"
    [imageFile]="imageFile" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
</div>
<img [src]="croppedImage" />
